
/*html {
 background-image: url(obsd.jpg);
 background-repeat: repeat;
}*/


body {
 margin: 10px 10px 0px 0px;
 padding: 20px 0px 0px 20px;
 background-color: #778899;
}
img[id="index"] { 
  float: right;  
  margin: 5px;
} 

table {
 font-family: sans-serif, Georgia, "Times New Roman", Times, serif;
 font-size: 16px;
}


#main-table table {
 border: 1px solid black;
}

table[id="title-box"] {
 border: 0;
}

table[id="main-table"] {
 border: 1px solid black;
}

#main-header td { 
 background-color: #ffffff;
 border: 1px solid black;
}

td[id="main-header"] {
 background-color: #6495ed;
}

td[id="main-content"] {
 background-color: #ffffff;
}


p {
 font-family: sans-serif, Georgia, "Times New Roman", Times, serif;
 font-size: 16px;
 color: #000000;
}

p[id="keywords"] {
 white-space: nowrap;
}

code {
 font-family: monospace;
 background-color: #ffffb0;
 color: #000000;
}

h1 {
 font-family: sans-serif, Arial, Helvetica, sans-serif;
 font-size: 36px;
 font-weight: bold;
 color: #000000;
}

h2 {
 font-family: sans-serif, Arial, Helvetica, sans-serif;
 font-size: 24px;
 font-weight: bold;
 color: #000000;
}

a:link {
 font-weight: normal;
 font-size: 16px;
 font-family: sans-serif, Arial, Helvetica, sans-serif;
 text-decoration: underline;
 color: #0000cc;
 }
a:visited {
 font-weight: normal;
 font-size: 16px;
 font-family: sans-serif, Arial, Helvetica, sans-serif;
 text-decoration: underline;
 color: #990000;
 }
a:hover {
 font-weight: normal;
 font-size: 16px;
 font-family: sans-serif, Arial, Helvetica, sans-serif;
 text-decoration: none;
 color: #ffffff;
 background: #8888cc;
 }
a:active {
 font-weight: normal;
 font-size: 16px;
 font-family: sans-serif, Arial, Helvetica, sans-serif;
 text-decoration: none;
 color: #ffffff;
 background: #cc0000;
 }
 
 li {
 list-style-position: outside;
 list-style-image: url(images/bullet.gif);
 font-family: sans-serif, Arial, Helvetica, sans-serif;
 font-size: 16px;
 color: #000000;
}
